# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
#我后加的
*.dp
# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# local database / vector store
app/storage/chroma/
*.sqlite3
*.db

# temp documents
*.docx
*.pdf

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/